body{
display: block;
background-color: blueviolet;
}
.box{
width: auto;
height: 1700px;
}
.main_text{
    text-align: center;
    color: white;
   
}
.image1{
    width: 400px;
    height: 250px;
    margin-left: 465px;
}
.image3{
    width: 400px;
    height: 250px;
    margin-left: 465px;
    margin-top: 35px;
}
.image4{
    width: 400px;
    height: 250px;
    margin-left: 465px;
    margin-top: 70px;
}
.text {     
    text-align: center;
    margin-top: 25px;
}
table{
    width: 200px;
height: 50px;
margin-top: 100px;
align-items: center;
margin-left: 200px;

}
.cen{
    background-color: rgb(85, 223, 43);
    width: 220px;
    height: 40px;
    padding-left: 200px;
    padding-right: 200px;
}
.eve{
    background-color: rgb(85, 223, 43);
      width: 220px;
    height: 20px;
      padding-left: 200px;
    padding-right: 200px;
}
th{
    background-color: rgb(37, 38, 61);
    width: 100px;
    height: 40px;
}
.secondtext{
    text-align: center;
    margin-top: 50px;
    color: white;
}
.box1{
    border-radius: 20px;
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: rgb(102, 51, 150);
    border-radius: 10px;
     overflow: hidden;
     text-overflow: ellipsis;
    margin-left: 465px;
}
.box2{
       border-radius: 20px;
    width: 400px;
    height: auto;
    padding: 10px;
    background-color: rgb(102, 51, 150);
    border-radius: 10px;
     overflow: hidden;
     text-overflow: ellipsis;
    margin-left: 465px;
}
.title1{
text-align: center;

}
.title2{
text-align: center;

}
.boxtext2 , .boxtext3{

    padding-bottom: 30px;
}